---
import CommonHeader from "components/CommonHeader.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Registrujte se" description="Registrujte se do svého profilu">
    <header><CommonHeader noAuth /></header>
    <main>
        <div>
            <h2>Registrujte se prosím</h2>
            <p>K používání této aplikace potřebujete účet.</p>
            <div>
                <input
                    type="text"
                    name="username"
                    id="usri-username"
                    placeholder="Uživatelské jméno"
                    pattern=".{3,25}"
                />
            </div>
            <div>
                <input
                    type="password"
                    name="password"
                    id="usri-password"
                    placeholder="Heslo"
                    pattern=".{6,25}"
                />
                <input
                    type="password"
                    name="password"
                    id="usri-password-r"
                    placeholder="Zopakujte heslo"
                    pattern=".{6,25}"
                />
                <div class="cf-turnstile" data-sitekey={import.meta.env.CAPTCHA_KEY} data-callback="captchaValidated"></div>
                <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
                <script is:inline>
                    function captchaValidated(token) {
                        window.sessionStorage.setItem("captchaToken", token);
                    }
                </script>
            </div>
            <div>
                <input type="button" value="Registrovat se" id="logon" />
                <p>
                    Máte účet? <a href="/me/auth/login">Přihlašte se</a>
                </p>
            </div>
            <p>
                Registrací souhlasíte s <a
                    href="/me/privacy"
                    target="_blank"
                    rel="noopener noreferrer">podmínkami ochrany soukromí</a
                >
            </p>
        </div>
    </main>
</Layout>

<script type="module">
    import { setCookie } from "/cookies.js";

    const logon = document.querySelector("#logon");

    const user = document.querySelector("#usri-username");
    const pass = document.querySelector("#usri-password");
    const repeat = document.querySelector("#usri-password-r");

    function checkFields() {
        if (repeat.value != pass.value) {
            alert("Heslo a zopakované heslo musí byt stejné");
            return;
        } else if (
            // @ts-ignore
            user.value.length < 3 || // @ts-ignore
            pass.value.length < 6 || // @ts-ignore
            user.value.length > 25 || // @ts-ignore
            pass.value.length > 25
        ) {
            window.alert(
                "Uživatelské jméno a heslo musí být vyplněno. Uživatelské jméno musí minimálně obsahovat 3 znaky a heslo 6 znaků. Maximální počet znaků pro obě pole je 25.",
            );

            return false;
        }
        return true;
    }

    if (
        logon instanceof HTMLInputElement &&
        user instanceof HTMLInputElement &&
        pass instanceof HTMLInputElement
    ) {
        logon.addEventListener("click", async () => {
            if (checkFields()) {
                fetch("/api/v2/auth/register", {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        username: user.value,
                        password: pass.value,
                        captcha: sessionStorage.getItem("captchaToken")
                    }),
                })
                    .then((res) => res.json())
                    .then((json) => {
                        if (json.success) {
                            setCookie("token", json.token, 1);
                            location.href = "/welcome";
                        } else {
                            alert(
                                "Nepodařilo se Vás registrovat. Důvod: " +
                                    json.message,
                            );
                        }
                    });
            }
        });
    }
</script>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    input {
        padding: 0.4em;
        margin: 0.2em;
        border-radius: 4px;
        outline: none;
        border: 1px solid black;
    }
    input[type="button"] {
        cursor: pointer;
    }
    header {
        text-align: center;
    }
</style>
