---
import Header1 from "../../../components/Header1.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Registrujte se" description="Registrujte se do svého profilu">
    <header><Header1 /></header>
    <main>
        <div>
            <h2>Registrujte se prosím</h2>
            <p>K používání této aplikace potřebujete účet.</p>
            <div>
                <input
                    type="text"
                    name="username"
                    id="usri-username"
                    placeholder="Uživatelské jméno"
                />
            </div>
            <div>
                <input
                    type="password"
                    name="password"
                    id="usri-password"
                    placeholder="Heslo"
                />
            </div>
            <div>
                <input type="button" value="Registrovat se" id="logon" />
                <p>
                    Máte účet? <a href="/me/auth/login">Přihlašte se</a>
                </p>
            </div>
            <p>
                Registrací souhlasíte s <a href="/me/privacy" target="_blank" rel="noopener noreferrer"
                    >podmínkami ochrany soukromí</a
                >
            </p>
        </div>
    </main>
</Layout>

<script type="module">
const logon = document.querySelector("#logon");

const user = document.querySelector("#usri-username");
const pass = document.querySelector("#usri-password");

function checkFields() {
    if (// @ts-ignore
        user.value.length < 3 ||// @ts-ignore
        pass.value.length < 6 ||// @ts-ignore
        user.value.length > 255 ||// @ts-ignore
        pass.value.length > 255
    ) {
        window.alert(
            "Uživatelské jméno a heslo musí být vyplněno. Uživatelské jméno musí minimálně obsahovat 3 znaky a heslo 6 znaků. Maximální počet znaků pro obě pole je 255.",
        );

        return false;
    }
    return true;
}

if (
    logon instanceof HTMLInputElement &&
    user instanceof HTMLInputElement &&
    pass instanceof HTMLInputElement
) {
    logon.addEventListener("click", async () => {
        if (checkFields()) {
            const stuff = await fetch("/api/user/login", {
                method: "PUT",
                headers: {
                    Username: user.value,
                    Password: pass.value,
                },
            }).then(
                (res) => {
                    if (res.status != 201) {
                        window.alert(
                            "Chyba při registraci. Zkuste změnit uživatelské jméno.",
                        );
                    } else {
                        location.href = "/me/auth/login?registered"
                    }
                }
            );
        }
    });
}
</script>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    input {
        padding: 0.4em;
        margin: 0.2em;
        border-radius: 4px;
        outline: none;
        border: 1px solid black;
    }
    input[type="button"] {
        cursor: pointer;
    }
    header {
        text-align: center;
    }
</style>
