---
import Layout from "../../../layouts/Layout.astro";
import ApiEndpointDoc from "../../../components/ApiEndpointDoc.astro";
import Header1 from "../../../components/Header1.astro";
---

<Layout title="API Dokumentace" description="Dokumentace API pro vývojáře">
    <main>
        <div class="headings">
            <Header1 /> <h1>/</h1> <h1>Dokumentace API</h1>
        </div>
        <div class="endpoints">
            <aside>
                <a href="/">Domů</a>
                <h2>Endpointy</h2>
                <ul class="genEnd"></ul>
            </aside>
        </div>
        <ApiEndpointDoc
            method="GET"
            endpoint="/api/lesson/group/[group]"
            description="Poskytne přehled lekcí ve skupině"
            codes={{
                "200": "Úspěch",
                "400": "Nespecifikovaná skupina",
                "405": "Nepodporovaná metoda",
            }}
            notes="Místo [group] uveďte název skupiny"
            exampleRequest="/api/lesson/group/animals"
            exampleResponse={JSON.stringify(
                [
                    {
                        id: 1,
                        type: 1,
                        czech: "kráva",
                        polish: "krowa",
                        explanation: "Kráva se polsky řekne krowa",
                        group: "animals",
                    },
                    {
                        id: 2,
                        type: 1,
                        czech: "kočka",
                        polish: "kot",
                        explanation: "Kočka se polsky řekne kot",
                        group: "animals",
                    },
                    {
                        id: 3,
                        type: 1,
                        czech: "pes",
                        polish: "pies",
                        explanation: "Pes se polsky řekne pies",
                        group: "animals",
                    },
                ],
                null,
                2
            )}
            lang="json"
        />

        <ApiEndpointDoc
            method="POST"
            endpoint="/api/lesson/verify/[group]"
            description="Ověří zda-li je odpověd správná a uloží záznam do databáze"
            codes={{
                "200": "Úspěch",
                "401": "Špatný token header",
                "405": "Nepodporovaná metoda",
            }}
            searchParams={{
                id: "identifikátor lekce",
                polish: "řečení lekce (Polsky)",
            }}
            notes="Místo [group] uveďte název skupiny"
            exampleRequest="/api/lesson/group/animals?id=1&polish=krowa"
            exampleResponse={"true"}
        />

        <ApiEndpointDoc
            method="GET"
            endpoint="/api/image"
            description="Poskyte URL obrázku získaného pomocí Pixabay API."
            codes={{ "200": "Úspěch", "405": "Nepodporovaná metoda" }}
            notes="Pokud selže komunikace s PixabayAPI tak vrací obrázek kočky http.cat/500"
            exampleRequest="/api/image?q=yellow+flowers"
            exampleResponse="https://pixabay.com/get/35bbf209e13e39d2_640.jpg"
            lang="text"
        />

        <ApiEndpointDoc
            method="POST"
            endpoint="/api/user/login"
            description="Používané pro přihlášení uživatele, pomocí hesla a uživatelského jména."
            codes={{
                "200": "Úspěch",
                "400": "Špatná hlavička",
                "401": "Špatné uživatelské jméno nebo heslo",
                "405": "Nepodporovaná metoda",
            }}
            headers={{ Username: "Uživatelské jméno", Password: "Heslo" }}
            exampleRequest="/api/user/login"
            exampleResponse={JSON.stringify(
                {
                    username: "Ivan",
                    icon_url: null,
                    token: "00000000-0000-0000-0000-000000000000",
                },
                null,
                2
            )}
        />

        <ApiEndpointDoc
            method="GET"
            endpoint="/api/user/icon/[token]"
            description="Získá ikonu uživatele se specifikovaným tokenem"
            notes="[token] nahraďte tokenem uživatele"
            codes={{
                "200": "Úspěch",
                "401": "Uživatel nebyl nalezen",
                "405": "Nepodporovaná metoda",
            }}
            headers={{ Username: "Uživatelské jméno", Password: "Heslo" }}
            exampleRequest="/api/user/icon/00000000-0000-0000-0000-000000000000"
            exampleResponse={"Obrázek"}
            lang="text"
        />

        <ApiEndpointDoc
            method="PUT"
            endpoint="/api/user/login"
            description="Používané pro registraci uživatele."
            codes={{
                "201": "Úspěch",
                "400": "Špatná hlavička",
                "401": "Uživatelské jméno je už používané",
                "405": "Nepodporovaná metoda",
            }}
            headers={{ Username: "Uživatelské jméno", Password: "Heslo" }}
        />

        <ApiEndpointDoc
            method="POST"
            endpoint="/api/user/update/avatar"
            description="Používané pro změnu uživatelského avatara."
            codes={{
                "201": "Úspěch",
                "400": "Špatné parametry",
                "401": "Špatný, nebo žádný token",
                "405": "Nepodporovaná metoda"
            }}
            searchParams={{
                url: "Platná URL adresa odkazující na obrázek online",
            }}
            headers={{
                Authorization: "Bearer 00000000-0000-0000-0000-000000000000",
            }}
        />

        <ApiEndpointDoc
            method="POST"
            endpoint="/api/user/update/username"
            description="Používané pro změnu uživatelského jména."
            codes={{
                "201": "Úspěch",
                "400": "Špatné parametry",
                "401": "Špatný, nebo žádný token",
                "405": "Nepodporovaná metoda"
            }}
            searchParams={{ username: "Uživatelské jméno" }}
            headers={{
                Authorization: "Bearer 00000000-0000-0000-0000-000000000000",
            }}
        />

        <ApiEndpointDoc
            method="POST"
            endpoint="/api/user/update/password"
            description="Používané pro změnu hesla."
            codes={{
                "201": "Úspěch",
                "400": "Špatné parametry",
                "401": "Špatný, nebo žádný token",
                "405": "Nepodporovaná metoda"
            }}
            searchParams={{ password: "Nové heslo" }}
            headers={{
                Authorization: "Bearer 00000000-0000-0000-0000-000000000000",
            }}
        />
    </main>
</Layout>

<style>
    main {
        margin: 2em;
        max-width: 90%;
    }

    @media screen and (min-width: 1000px) {
        .endpoints {
            position: fixed;
            right: 20px;
            background-color: white;
            padding: 8px;
            border: 1px solid black;
            border-radius: 2px;
        }
    }

    .headings {
        display: inline-flex;
    }

    .headings > h1 {
        margin-left: .9em;
    }
</style>

<script>
    const gen = document.querySelector(".genEnd");
    if (gen) {
        document.querySelectorAll(".api-endpoint-doc").forEach((el) => {
            const li = document.createElement("li");
            const a = document.createElement("a");
            li.appendChild(a);
            a.innerText = el.querySelector("h2").innerText;
            a.href = "#" + el.id;
            gen.append(li);
        });
    }
</script>
