---
import GroupShowcase from '../components/GroupShowcase.astro';
import UserInfo from '../components/UserInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="GymLingo" description="Cool popis">
	<header>
		<UserInfo /> <h1><a href="/">GymLingo</a></h1>
	</header>
	<main>
		<GroupShowcase title="Zvířata" group="animals" image="/boars.jpg" image_desc='Foto <a href="https://pixabay.com/users/webandi-1460261/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2256293">Andreas Lischka</a>'/>
		<GroupShowcase title="Základní fráze" group="phrases" image="/people.jpg" image_desc='Foto <a href="https://pixabay.com/users/mabelamber-1377835/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3163556">Mabel Amber</a>'/>
	</main>
</Layout>

<style>
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	main {
		display: flex;
		margin: 2em;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	:global(main > *) {
		margin-bottom: 2em;
	}
</style>