---
import Layout from "layouts/Layout.astro";
import Header1 from "components/Header1.astro";
import { isValidUser } from "util/database";

if (
    !Astro.cookies.has("token") ||
    !(await isValidUser(Astro.cookies.get("token").value))
)
    return Astro.redirect("/me/auth/login?reffer=" + Astro.request.url);
---

<Layout title="GymLingo" description="GymLingo - základy polštiny">
    <main>
        <h1>Průvodce aplikací</h1>
        <h2>Hlavní nadpis</h2>
        <Header1 />
        <p>
            Kliknutím na hlavní nadpis se můžete kdykoliv vrátit na hlavní
            stránku.
        </p>
        <a href="/welcome/phone/write">Další ➡</a>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 2em);
        height: 90vh;
        padding: 1em;
    }
</style>
