---
import Layout from "../../layouts/Layout.astro";
import UserInfo from "../../components/UserInfo.astro";
import Header1 from "../../components/Header1.astro";
import { connect } from "../../util/database";

if (!Astro.cookies.has("token")) return Astro.redirect("/me/auth/login");
const { getUser, end } = connect();
const me = await getUser(Astro.cookies.get("token").value);
end();

if (!me.success) return Astro.redirect("/me/auth/login");
---

<Layout title="Váš profil" description="Informace o">
    <header>
        <UserInfo />
        <h1 style="font-size: larger;">Profil</h1>
        <Header1 />
    </header>
    <main>
        <div class="segment">
            <h2>Nastavení účtu</h2>
            <div>
                <h3>Profilová fotografie</h3>
                <img
                    src={"/api/v2/user/info/avatar/" + me.username}
                    alt="profilový obrázek"
                    id="icon"
                />
                <div>
                    <input
                        type="url"
                        name="image"
                        id="img_url"
                        placeholder="URL adresa obrázku"
                    />
                    <input
                        type="button"
                        value="Změnit profilovku"
                        id="change_pfp"
                    />
                </div>
            </div>
            <div>
                <h3>Uživatelské jméno:</h3>
                <input
                    type="text"
                    name="username"
                    id="username"
                    pattern=".{3,25}"
                    placeholder={me.username}
                />
                <input
                    type="button"
                    value="Změnit uživatelské jméno"
                    id="usr_change"
                />
            </div>
            <div>
                <h3>Heslo:</h3>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Heslo"
                    pattern=".{6,25}"
                />
                <input
                    type="password"
                    name="repeat password"
                    id="password-again"
                    placeholder="Zopakujte heslo"
                    pattern=".{6,25}"
                />
                <input type="button" value="Změnit heslo" id="password-btn" />
            </div>
            <div>
                <h3>Odhlašte se</h3>
                <input type="button" value="Odhlásit se" id="logout" />
            </div>
            <div>
                <h3>Vymažte svá data a svůj účet</h3>
                <p>
                    Pokud chcete vymazat svoje data i svůj postup klikněte <a
                        href="/me/auth/remove">zde</a
                    >.
                </p>
            </div>
        </div>
        <div class="segment">
            <h2>Dostupnost</h2>
            <div>
                <h3>Používání</h3>
                <p>
                    Odpovědi odesíláte klávesou <kbd>Enter</kbd>. Pokud nevíte
                    klikněte na možnost nevím.
                </p>
            </div>
            <div>
                <h3>Odposlech</h3>
                <p>
                    Na některých zařízeních a v některých prohlížečích je
                    dostupný odposlech. Můžete tak poslouchat, jak se vyslovují
                    poslká slovíčka.
                </p>
                <p>
                    Na vašem zařízení je tato funkce <span id="voice"
                        >získávám informace...</span
                    >
                </p>
            </div>
            <div>
                <h3>Motiv</h3>
                <p>
                    Tato webová stránka zjišťuje nastavení v prohlížeči, které
                    udává jestli preferuje tmavý či světlý motiv.
                </p>
            </div>
            <div>
                <h3>JavaScript</h3>
                <p>
                    Aby tato webová aplikace mohla fungovat vyžaduje JavaScript.
                </p>
                <noscript><b>Prosím povolte ho!</b></noscript>
            </div>
            <div>
                <h3>Cookies</h3>
                <p>
                    Tato stránka vyžaduje pro své fungování cookies. Ty používá
                    k uchovávání přístupového klíče, který se využívá ke
                    komunikaci se serverem.
                </p>
            </div>
        </div>
        <div class="segment">
            <h2>Dokumenty</h2>
            <ul>
                <li>
                    <a href="/me/privacy" target="_blank"
                        >Podmínky ochrany soukromí</a
                    >
                </li>
                <li>
                    <a href="/slovnik" target="_blank">Všechna slovíčka</a>
                </li>
                {
                    me.admin ? (
                        <li>
                            Nástroj administrátora{" "}
                            <a href="/developer/dashboard" target="_blank">
                                /developer/dashboard
                            </a>
                        </li>
                    ) : undefined
                }
            </ul>
        </div>
    </main>
</Layout>

<script type="module">
    // @ts-ignore
    import { getCookie, deleteAllCookies } from "/cookies.js";

    const token = getCookie("token");

    const pfp_btn = document.querySelector("#change_pfp");
    const img_url = document.querySelector("#img_url");
    if (
        pfp_btn instanceof HTMLInputElement &&
        img_url instanceof HTMLInputElement
    ) {
        pfp_btn.addEventListener("click", () => {
            fetch(
                "/api/v2/user/info/update/avatar?url=" +
                    encodeURIComponent(img_url.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    location.reload();
                },
                (err) => {
                    alert(
                        "Nepodařilo se aktualizovat profilový obrázek. Zkontrolujte, jestli je dostupný online a to na platném odkazu např. https://www.priklad.cz/obrazek.jpg",
                    );
                    console.error(err);
                },
            );
        });
    }

    const usr_change = document.querySelector("#usr_change");
    const username_f = document.querySelector("#username");
    if (
        usr_change instanceof HTMLInputElement &&
        username_f instanceof HTMLInputElement
    ) {
        usr_change.addEventListener("click", () => {
            fetch(
                "/api/v2/user/info/update/username?username=" +
                    encodeURIComponent(username_f.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    location.reload();
                },
                (err) => {
                    alert("Nepodařilo se změnit uživatelské jméno");
                    console.error(err);
                },
            );
        });
    }

    const password_btn = document.querySelector("#password-btn");
    const one = document.querySelector("#password");
    const two = document.querySelector("#password-again");
    if (
        password_btn instanceof HTMLInputElement &&
        one instanceof HTMLInputElement &&
        two instanceof HTMLInputElement
    ) {
        password_btn.addEventListener("click", () => {
            if (one.value != two.value) {
                alert("Hesla se neshodují");
                return;
            }
            fetch(
                "/api/v2/user/info/update/password?password=" +
                    encodeURIComponent(one.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    alert("Heslo úspěšně změněno");
                },
                (err) => {
                    alert("Nepodařilo se změnit heslo");
                    console.error(err);
                },
            );
        });
    }

    const logout = document.querySelector("#logout");
    if (logout instanceof HTMLInputElement) {
        logout.addEventListener("click", () => {
            localStorage.clear();
            deleteAllCookies();
            location.reload();
        });
    }

    // Dostupnost
    function loadSpeechSynthesis() {
        let voices = window.speechSynthesis.getVoices();
        voice = voices.find((v) => v.lang == "pl-PL");
        const out = document.querySelector("#voice");
        if (voice) {
            out.innerText = "dostupná! (model: " + voice.name + ")";
        } else {
            out.innerText = "nedostupná.";
        }
    }

    loadSpeechSynthesis();
</script>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        display: block;
        margin: 2em;
    }

    :global(#icon) {
        max-width: 250px;
    }

    .segment {
        display: inline-flex;
        margin: 1em;
        flex-direction: column;
    }

    @media (min-width: 1230px) {
        .segment {
            max-width: 30%;
        }
    }

    input {
        padding: 0.4em;
        margin: 0.2em;
        border-radius: 4px;
        outline: none;
        border: 1px solid black;
    }

    input[type="button"] {
        cursor: pointer;
    }

    #voice {
        font-weight: bold;
    }
</style>
