---
import Layout from "../../layouts/Layout.astro";
import UserInfo from "../../components/UserInfo.astro";
import { getUser, isValidToken } from "../../database";
import Header1 from "../../components/Header1.astro";

if (
    !Astro.cookies.has("token") ||
    !(await isValidToken(Astro.cookies.get("token").value))
)
    return Astro.redirect("/me/auth/login");

const me = await getUser(Astro.cookies.get("token").value);
---

<Layout title="Váš profil" description="Informace o">
    <header>
        <UserInfo />
        <h1 style="font-size: larger;">Profil</h1>
        <Header1 />
    </header>
    <main>
        <div class="segment">
            <h1>Ahoj <span id="name">{me.username}</span></h1>
            <img
                src={"/api/user/icon/" + Astro.cookies.get("token").value}
                alt="profilový obrázek"
                id="icon"
            />
            <div>
                <input
                    type="url"
                    name="image"
                    id="img_url"
                    placeholder="URL Obrázku"
                />
                <input
                    type="button"
                    value="Změnit profilovku"
                    id="change_pfp"
                />
            </div>
        </div>
        <div class="segment">
            <h2>Upravit údaje</h2>
            <div>
                <h3>Uživatelské jméno:</h3>
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder={me.username}
                />
                <input
                    type="button"
                    value="Změnit uživatelské jméno"
                    id="usr_change"
                />
            </div>
            <div>
                <h3>Heslo:</h3>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Heslo"
                />
                <input
                    type="password"
                    name="repeat password"
                    id="password-again"
                    placeholder="Zopakujte heslo"
                />
                <input type="button" value="Změnit heslo" id="password-btn" />
            </div>
        </div>
        <div class="segment">
            <h2>Odhlašte se</h2>
            <input type="button" value="Odhlásit se" id="logout" />
        </div>
        <div class="segment">
            <h2>Pro vývojáře</h2>
            <p>
                Pokud chcete využívat API této aplikace, zde je váš token: <code
                    id="token"
                    ><input
                        type="button"
                        value="Zobrazit"
                        onclick={"document.querySelector('#token').innerHTML = '" +
                            Astro.cookies.get("token").value +
                            "'"}
                    /></code>
            </p>
            <p>
                Token vždy uveďte v headeru: <code
                    >Authorization: Bearer 00000000-0000-0000-0000-000000000000</code>
            </p>
            <p>
                Plná dokumentace na <a href="/developer/docs" target="_blank"
                    >/developer/docs</a>
            </p>
            {
                me.admin ? (
                    <p>
                        Nástroj administrátora{" "}
                        <a href="/developer/dashboard" target="_blank">
                            /developer/dashboard
                        </a>
                    </p>
                ) : undefined
            }
        </div>
        <div class="segment">
            <h2>Dokumenty</h2>
            <ul>
                <li>
                    <a href="/me/privacy" target="_blank"
                        >Podmínky ochrany soukromí</a
                    >
                </li>
                <li><a href="/slovnik" target="_blank">Všechna slovíčka</a></li>
            </ul>
        </div>
    </main>
</Layout>

<script type="module">
    // @ts-ignore
    import { getCookie, deleteAllCookies } from "/cookies.js";

    const token = getCookie("token");

    const pfp_btn = document.querySelector("#change_pfp");
    const img_url = document.querySelector("#img_url");
    if (
        pfp_btn instanceof HTMLInputElement &&
        img_url instanceof HTMLInputElement
    ) {
        pfp_btn.addEventListener("click", () => {
            fetch(
                "/api/user/update/avatar?url=" +
                    encodeURIComponent(img_url.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    location.reload();
                },
                (err) => {
                    alert(
                        "Nepodařilo se aktualizovat profilový obrázek. Zkontrolujte, jestli je dostupný online a to na platném odkazu např. https://www.priklad.cz/obrazek.jpg",
                    );
                    console.error(err);
                },
            );
        });
    }

    const usr_change = document.querySelector("#usr_change");
    const username_f = document.querySelector("#username");
    if (
        usr_change instanceof HTMLInputElement &&
        username_f instanceof HTMLInputElement
    ) {
        usr_change.addEventListener("click", () => {
            fetch(
                "/api/user/update/username?username=" +
                    encodeURIComponent(username_f.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    location.reload();
                },
                (err) => {
                    alert("Nepodařilo se změnit uživatelské jméno");
                    console.error(err);
                },
            );
        });
    }

    const password_btn = document.querySelector("#password-btn");
    const one = document.querySelector("#password");
    const two = document.querySelector("#password-again");
    if (
        password_btn instanceof HTMLInputElement &&
        one instanceof HTMLInputElement &&
        two instanceof HTMLInputElement
    ) {
        password_btn.addEventListener("click", () => {
            if (one.value != two.value) {
                alert("Hesla se neshodují");
                return;
            }
            fetch(
                "/api/user/update/password?password=" +
                    encodeURIComponent(one.value),
                {
                    method: "POST",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                },
            ).then(
                (s) => {
                    alert("Heslo úspěšně změněno");
                },
                (err) => {
                    alert("Nepodařilo se změnit heslo");
                    console.error(err);
                },
            );
        });
    }

    const logout = document.querySelector("#logout");
    if (logout instanceof HTMLInputElement) {
        logout.addEventListener("click", () => {
            localStorage.clear();
            deleteAllCookies();
            location.reload();
        });
    }
</script>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 2em;
    }

    #icon {
        min-width: 30vw;
        max-width: 50vw;
    }

    .segment {
        display: block;
        margin-bottom: 1em;
    }

    input {
        padding: 0.4em;
        margin: 0.2em;
        border-radius: 4px;
        outline: none;
        border: 1px solid black;
    }

    input[type="button"] {
        cursor: pointer;
    }
</style>
