---
import { connect } from "../util/database";
interface Props {
    group: string;
}

const isGuest =
    Astro.cookies.has("guest") && Astro.cookies.get("guest").boolean();

const { group } = Astro.props;

const { getFinishedLessonsByUserInGroup, end } = connect();
const gf = await getFinishedLessonsByUserInGroup(
    group,
    Astro.cookies.get("token").value,
);

end();

function capitalizeFirstLetter(str) {
    return `${str.charAt(0).toUpperCase()}${str.slice(1)}`;
}

let imageQuery = group;
let aq = imageQuery;
if (imageQuery.includes(" ")) {
    const a = imageQuery.split(" ");
    imageQuery = a[a.length - 1];
    aq = a[0];
    if (imageQuery.endsWith("ní")) {
        imageQuery = imageQuery.substring(0, imageQuery.length - 2);
    }

    if (aq.endsWith("ní")) {
        aq = aq.substring(0, aq.length - 2);
    }
}
---

<div class="show">
    <div class="image-wrapper">
        <a href={"/app?g=" + encodeURIComponent(group)}>
            <img
                src={"/api/v2/image?large=true&q=" + encodeURIComponent(imageQuery) + "&aq=" + aq}
                aria-hidden="true"
            />
        </a>
    </div>
    {
        !isGuest ? (
            <span>
                {gf.count +
                    "/" +
                    gf.groupTotal +
                    " (" +
                    Math.round(gf.ratio * 100) +
                    "%)"}
            </span>
        ) : undefined
    }
    <a href={"/app?g=" + encodeURIComponent(group)}
        ><h2>{capitalizeFirstLetter(group)}</h2></a
    >
</div>
<style>
    img {
        width: 80vw;
        height: 20vh;
        object-fit: cover;
        object-position: center 30%;
    }

    .show {
        border: 1px solid;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }

    .image-wrapper {
        position: relative;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>
