---
import { connect } from "../util/database";
interface Props {
    title: string;
    image: string;
    group: string;
    image_desc: string;
}

const isGuest =
    Astro.cookies.has("guest") && Astro.cookies.get("guest").boolean();

const { title, image, group, image_desc } = Astro.props;

let gf;
if (!isGuest)
    gf = await connect().getFinishedLessonsByUserInGroup(
        group,
        Astro.cookies.get("token").value,
    );

---

<div class="show">
    <div class="image-wrapper">
        <a href={"/app?g=" + encodeURIComponent(group)}>
            <img src={image} aria-hidden="true" />
        </a>
        <div class="image-desc" aria-hidden="true" set:html={image_desc} />
    </div>
    {!isGuest ? <span>{gf.count+ "/" + gf.groupTotal + " (" + Math.round(gf.ratio * 100) + "%)"}</span> : undefined}
    <a href={"/app?g=" + encodeURIComponent(group)}><h2>{title}</h2></a>
</div>
<style>
    img {
        width: 80vw;
        height: 20vh;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .show {
        border: 1px solid;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }

    .image-wrapper {
        position: relative;
    }

    .image-desc {
        position: absolute;
        bottom: 8px;
        right: 15px;
        z-index: 2;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>
