<h1><a href="http://www.gymlit.cz" target="_blank" rel="noopener noreferrer" class="underline-blue">Gym</a><a href="/" class="underline-yellow">Lingo</a></h1>

<style>
    a {
        color: inherit;
    }

	.underline-blue {
		text-decoration: underline solid #20499F;
	}

	.underline-yellow {
		text-decoration: underline solid #FAC020;
	}
</style>