<h1><a href="/" class="underline-yellow"><span class="underline-blue">Gym</span><span class="underline-yellow">Lingo</span></a></h1>

<style>
    a {
        color: inherit;
    }

	.underline-blue {
		text-decoration: underline solid #20499F;
	}

	.underline-yellow {
		text-decoration: underline solid #FAC020;
	}
</style>