---
import { getUser } from "../database";
// Get token
const token = Astro.cookies.get("token");
if (!token) return Astro.redirect("/me/auth/login");

const user = await getUser(token.value);
---

<div class="info">
    <img
        src={user.icon_url
            ? user.icon_url
            : "https://ui-avatars.com/api/?format=svg&name=" +
              user.username.replaceAll(" ", "+")}
        alt="profile icon"
        height="50px"
        width="50px"
        id="usri-icon"
    />
    <a href="/me" style="text-decoration: none; color: inherit;"
        ><div id="usri-name">{user.username}</div></a
    >
    <div class="isAdmin">{user.admin ? "Administrátor" : "Uživatel"}</div>
</div>

<style>
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 20%;
        margin: 0.5em;
        padding-left: 1em;
    }
</style>
