---
import { getUser } from "../database";
const isGuest =
    Astro.cookies.has("guest") && Astro.cookies.get("guest").boolean();

let user = {
    icon_url: undefined,
    username: "Host",
    admin: false,
};

if (!isGuest) {
    const token = Astro.cookies.has("token")
        ? Astro.cookies.get("token").value
        : undefined;

    user = await getUser(token);
    if (!user) user = { icon_url: undefined, username: "Nastala chyba", admin: false };
}
---

<div class="info">
    <img
        src={user.icon_url
            ? user.icon_url
            : "https://ui-avatars.com/api/?format=svg&name=" +
              user.username.replaceAll(" ", "+")}
        alt="profile icon"
        height="50px"
        width="50px"
        id="usri-icon"
    />
    <a href="/me" style="text-decoration: none; color: inherit;"
        ><div id="usri-name">{user.username}</div></a
    >
    <div class="isAdmin">{user.admin ? "Administrátor" : "Uživatel"}</div>
</div>

<style>
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 20%;
        margin: 0.5em;
        padding-left: 1em;
    }
</style>
